<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!showSearch">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end *ngIf="!showSearch">
      <button ion-button (click)="toogleSearchBar()"> 
          <ion-icon icon-right name="search" ></ion-icon>
        </button>
    </ion-buttons>
    <ion-title *ngIf="!showSearch">OMarks</ion-title>
    <ion-searchbar #searchBar *ngIf="showSearch" (ionInput)="onInputSearch($event)" (ionClear)="onClearSearch($event)" (ionCancel)="onCancelSearch($event)"
      [debounce]=250 [animated]=true [showCancelButton]=true></ion-searchbar>
  </ion-navbar>
</ion-header>

<button ion-button fab-fixed fab-right fab-bottom round (click)="create(item)" *ngIf="showSearch">
  <ion-icon name="add"></ion-icon>
</button>

<ion-content padding >
  <div class="content" *ngIf="!showSearch">
    <ul>
      <li *ngFor="let item of user.dashboard | dashboardPipe:['1','dashboard_ranking']">
        <ion-card>
          <div (click)="open(item, $event)">
            <ion-item>
              <ion-avatar item-left>
                <span [ngSwitch]="item.given_url.split('/')[3]">
                    <img *ngSwitchCase="'drive'" src="/build/images/drive.png"/>
                    <img *ngSwitchCase="'document'" src="/build/images/doc.png"/>
                    <img *ngSwitchCase="'spreadsheets'" src="/build/images/sheets.png"/>
                    <img *ngSwitchCase="'presentation'" src="/build/images/slides.png"/>
                    <img *ngSwitchCase="'drawings'" src="/build/images/draw.png"/>
                    <img *ngSwitchDefault  src="https://icons.better-idea.org/icon?url={{item.given_url.split('/')[2]}}&size=120"  />
                  </span>
              </ion-avatar>
              <h2>{{item.given_title}}</h2>
              <p>{{item.given_url.split("/")[2]}}</p>
            </ion-item>

            <ion-card-content *ngIf="item && item.has_image == 0">{{item.excerpt}}</ion-card-content>
            <ion-card-content *ngIf="!item">{{item.excerpt}}</ion-card-content>
            <section *ngIf="item && item.has_image == 1">
              <!--<img src="{{item.image.src}}" />-->
            </section>
          </div>
          <ion-item>
            <button ion-button primary clear item-right (click)="up(item)">
                    <ion-icon name="arrow-dropup-circle" ></ion-icon>
                  </button>
            <button ion-button primary clear item-right (click)="down(item)">
                    <ion-icon name="arrow-dropdown-circle" ></ion-icon>
                  </button>
            <button ion-button primary clear item-right (click)="remove_star(item)">
                    <ion-icon name="md-star" ></ion-icon>
                  </button>
            <button ion-button primary clear item-right (click)="edit(item)">
                    <ion-icon name="create"></ion-icon>
                  </button>
          </ion-item>

        </ion-card>
      </li>
    </ul>
  </div>

  <ion-list *ngIf="showSearch && searchItems.length == 0">
    <ion-item *ngFor="let facet of searchFacets" (click)="getSearchFacets(facet.key, facet.value)">
      <ion-icon name="folder" item-left></ion-icon>
      {{facet.value}}
    </ion-item>
  </ion-list>

  <ion-list *ngIf="showSearch && searchItems.length > 0">

    <ion-item-sliding *ngFor="let item of searchItems">
      <ion-item (click)="open(item, $event)">
        <ion-thumbnail item-left>
          <span *ngIf="item.has_image == 0">
              <span [ngSwitch]="item.given_url.split('/')[3]">
                <img *ngSwitchCase="'drive'" src="/build/images/drive.png"/>
                <img *ngSwitchCase="'document'" src="/build/images/doc.png"/>
                <img *ngSwitchCase="'spreadsheets'" src="/build/images/sheets.png"/>
                <img *ngSwitchCase="'presentation'" src="/build/images/slides.png"/>
                <img *ngSwitchCase="'drawings'" src="/build/images/draw.png"/>
                <img *ngSwitchDefault  src="https://icons.better-idea.org/icon?url={{item.given_url.split('/')[2]}}&size=120" />
              </span>
          </span>
          <img *ngIf="item.has_image == 1" src="{{item.image.src}}" />
        </ion-thumbnail>
        <h2>{{item.given_title}}</h2>
        <p>{{item.given_url}}</p>
        <p>{{item.excerpt}}</p>
        <h3>
          <button ion-button outline *ngFor="let tag of item.tags | split">{{tag}}</button>
        </h3>
      </ion-item>
      <ion-item-options>
        <button ion-button primary *ngIf="item.favorite == 1" (click)="remove_star(item)">
            <ion-icon name="md-star"></ion-icon>
          </button>
        <button  ion-button primary *ngIf="item.favorite != 1" (click)="add_star(item)">
            <ion-icon name="star-outline"></ion-icon>
          </button>
        <button ion-button color="secondary" (click)="edit(item)">
            <ion-icon name="create"></ion-icon>
          </button>
        <button ion-button color="danger" (click)="delete(item)">
            <ion-icon name="trash"></ion-icon>
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>